/* body{
   background-color: #9fafa7;
}
h2,h3,h4{
    background-color: #c81616;
    color: aqua;
}

#heading1{
    background-color: #3110ab;
} */

/* div p{
    background-color: #aa1616;
    color: #e8efef;
} */

/* div>p{
    background-color: #aa1616;
    color: #e8efef;
} */

/* div+p{
    background-color: #aa1616;
    color: #e8efef;
} */

/* div~p{
    background-color: #aa1616;
    color: #e8efef;
} */

p:nth-child(2){
    background-color: #aa1616;
    color: #e8efef;
}

 div p:nth-of-type(1){
    background-color: #280b71;
    color: #e8efef;
}